.singlePost__title {
  margin: 25px;
}

.singlePost__img {
  border-style: double;
}


.singlePost__content > p {
  font-size: 25px;
}


.singlePost__data {
  display: flex;
  width: 250px;
  justify-content: space-evenly;
  margin-left: 33rem;


}


.post__input {
  flex: 1;
  border:none;
}

.button__input {
  flex:0;
  background-color: none;
}


.singlePost__comments > ul {
 list-style: none;
}

.singlePost__comments {
  margin: 20px;
  margin-top: 30px;
  margin-bottom: 50px;

}
